@import "bootstrap";

body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}
.row-fluid {
	border: solid;
	border-color: rgba(12, 4, 84, .7);
	color: black;
}

h2 {
	text-align: center;
	font-family: 'Nunito', sans-serif;
}

.left {
	font-family: 'Open Sans Condensed', sans-serif;
}

.huff:hover {
	background-color: #2316FF;
	border-radius: 50px;
}

.times:hover {
	background-color: #2316FF;
	border-radius: 50px;
}

.right {
	font-family: 'Open Sans Condensed', sans-serif;
}

.fox:hover {
	background-color: #FF1C00;
	border-radius: 50px;
}

.nyp:hover {
	background-color: #FF1C00;
	border-radius: 50px;
}

a {
	padding-left: 15px;
}

a:link {
	color: #030038;
} 

a:hover {
	color: white;
} 

footer {
	padding: 20px;
}

td {
	text-align: center;
}

table, th {
	border: 1px solid black;
}


