@import "bootstrap";

.row-fluid {
	border: solid;
	border-color: rgba(231, 255, 229, .5);
	padding: 10px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 790px) {
  .container > header h1{
    font-size: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 650px) {
  body{
    overflow: auto;
  }
  .container > header{
    text-align: center;
    width: auto;
    float: none;
  }
}